node_modules/
.expo/
dist/
build/
*.log
.DS_Store
*.ipa
*.apk
*.aab
*.xcuserdata
*.xcworkspace
!ios/*.xcworkspace
build/
android/app/build/
ios/Pods/
ios/build/
*.hprof
.env
.env.local
*.keystore
!key.jks
*.mobileprovision
*.xcodeproj
!*.xcodeproj/project.pbxproj